<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <ul style="list-style-type: none;">
      <% resource.errors.full_messages.each do |message| %>
        <li>
          <span class="text-white bg-danger"><%= message %></span>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
